<!DOCTYPE html>

<html>

<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">

    <div id="userOnline" class="usersOnline">

    </div>

    <div id="conversation" class="conversation">

    </div>

    {{!--
    <button class="btn btn-success" id="buttonCheckSession">Check</button> --}}
    <div class="contain_inputSearch">
      <input id="search" type="text" placeholder="search" name="search">
      <div id="search_div" class="search_div">

      </div>
    </div>

    <div id="receiver_div" class="receiver_div">
      <p id="receiver_id">{{userId}}</p>

    </div>
    <div class="chat_div">

      <div id="output">
        {{#each conversation}}

        <p>
          <strong>{{username}}: </strong> {{message}} </p>

        {{/each}}
      </div>
      <div id="feedback"></div>
      <input id="user" type="text" placeholder="user">
      <input id="message" type="text" placeholder="message"> {{!--
      <div id="user" class="user_div" contenteditable="true" data-placeholder="Username"></div> --}} {{!--
      <div id="message" class="message_div" contenteditable="true" data-placeholder="Typing a message ..."></div> --}}
    </div>


  </div>



  <script src="/lib/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/lib/handlebars.js"></script>
  <script src="/js/script.js"></script>
  <script id="usersonline-template" type="text/x-handlebars-template" src="/lib/handlebars.js">
        \{{#each apiUserOnline}}      
            <div class="userOnline_div">
              <p>\{{username}}</p>
              <div class="overlay"></div>
            </div>
        \{{/each}}
  </script>

  <script id="loadconversations-template" type="text/x-handlebars-template" src="/lib/handlebars.js">
        \{{#each apiLoadConversations}}      
              <p>\{{userReceiver}}</p>
        \{{/each}}
        
  </script>
</body>

</html>